@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  --yellow-accent: lch(75.59% 83.67 70.8);
}

.header-container {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-position-y: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__socials {
  position: absolute;
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 15px;
  transform: rotate(-90deg);
  top: 47.5%;
  left: -5.5%;
}

.header__socials > span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.socials-container {
  display: flex;
  gap: 15px;
}

.git {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/git.svg');
}

.insta {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/insta.svg');
}

.facebook {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/facebook.svg');
}

.grid {
  width: 1140px;
  height: 100%; 
}

.header__burger-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 44px;
  height: 44px;
  background-image: url('assets/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__greetings {
  position: relative;
  max-width: 510px; 
  top: 208px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-circle, .title-circle-center, .greetings__header {
  position: relative;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
  z-index: 1;
}

.title-circle-center {
  padding-left: 0;
}

.title-circle-center::before {
  content: url('./assets/circle.svg');
  position: absolute;
  left: 10%;
  top: -5px;
  width: 36px;
  height: 36px;
  z-index: -1;
}

.title-circle::before {
  content: url('./assets/circle.svg');
  position: absolute;
  left: 0;
  top: -5px;
  width: 36px;
  height: 36px;
  z-index: -1;
}

.greetings__body {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
}

.greetings__links {
  display: flex;
  gap: 36px;
  margin-top: 1rem;
}

.greetings__links > a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.links__to-portfolio {
  display: block;
  width: 135px;
  height: 45px;
  background-color: var(--yellow-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.links__about-me {
  display: block;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__about-me {
  width: 100%;
  display: flex;
  gap: 72px;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  margin-top: 8rem;
}

.about__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.about__main > h1 {
  margin-top: -1rem;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  display: block;
  position: relative;
}

.about__main > h1::before {
  content: url('./assets/line2.svg');
  position: absolute;
  top: 1rem;
}

.about__text {
  color: #000;
  width: 572px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 30px;
  margin-top: .5rem;
}

.skill {
  width: 16rem;
  display: flex;
  gap: 1rem;
}

.skill h2 {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skill p {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills__description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.main__experience {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.experience__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.experience-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  margin-top: 4.5rem;
  margin-left: 4.5rem;
}

.education, .work {
  display: flex;
  justify-content: center;
  max-width: 450px;
}

.exp__items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.exp__item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.exp__title {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.title__sub {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item__header {
  display: flex;
  gap: .5rem;
}

.title__bold {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item__description > p {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width:1919px) {
  .header__grid {
    width: 60%;
    height: 100%; 
  }
}