@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  --yellow-accent: lch(75.59% 83.67 70.8);
  --grey: lch(90.78% 3.5 79.74);
}

body {
  padding-bottom: 7.5rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  width: 345px;
  height: 100dvh;
  background-color: var(--yellow-accent);
  position: absolute;
  right: -500px;
  top: 0;
  z-index: 200;
  padding: 4rem;
  transition: .2s;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.open {
  right: 0;
  opacity: 100%;
  display: flex;
}

.burger__close {
  width: 29px;
  height: 29px;
  background-image: url('./assets/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.burger__navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}

li {
  list-style-image: url('./assets/navMarker.svg');
  gap: 4rem;
  padding-left: 1rem;
}

.navigation__link {
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-container {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-position-y: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__socials {
  position: absolute;
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 15px;
  transform: rotate(-90deg);
  top: 47.5%;
  left: -5.5%;
}

.header__socials > span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.socials-container {
  display: flex;
  gap: 15px;
}

.git {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/git.svg');
}

.insta {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/insta.svg');
}

.facebook {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/facebook.svg');
}

.telegram {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('assets/telegram.svg');
}

.grid {
  width: 1140px;
  height: 100%; 
}

.header__burger-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 44px;
  height: 44px;
  background-image: url('assets/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__greetings {
  position: relative;
  max-width: 510px; 
  top: 208px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-circle, .title-circle-center, .greetings__header, .pricelist__title {
  position: relative;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
  z-index: 1;
}

.title-circle-center {
  padding-left: 0;
}

.title-circle-center::before {
  content: url('./assets/circle.svg');
  position: absolute;
  left: 10%;
  top: -5px;
  width: 36px;
  height: 36px;
  z-index: -1;
}

.skills-title::before {
  left: 20%;
}

.title-circle::before {
  content: url('./assets/circle.svg');
  position: absolute;
  left: 0;
  top: -5px;
  width: 36px;
  height: 36px;
  z-index: -1;
}

.greetings__body {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
}

.greetings__links {
  display: flex;
  gap: 36px;
  margin-top: 1rem;
}

.greetings__links > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.links__to-portfolio, .form__submit {
  display: block;
  width: 135px;
  height: 45px;
  background-color: var(--yellow-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.links__about-me {
  display: block;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__about-me {
  width: 100%;
  display: flex;
  gap: 72px;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  margin-top: 8rem;
}

.about__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.about__main > h1 {
  margin-top: -1rem;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  display: block;
  position: relative;
}

.about__main > h1::before {
  content: url('./assets/line2.svg');
  position: absolute;
  top: 1rem;
}

.about__text {
  color: #000;
  width: 572px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 30px;
  margin-top: .5rem;
}

.skill {
  width: 16rem;
  display: flex;
  gap: 1rem;
}

.skill h2 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skill p {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills__description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.main__experience, .main__skills, .main__pricelist {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.title-text {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
}

.experience__title, .main__title, .portfolio__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.experience-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  margin-top: 4.5rem;
  margin-left: 4.5rem;
}

.education, .work {
  display: flex;
  justify-content: center;
  max-width: 450px;
}

.exp__items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.exp__item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.exp__title {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.title__sub {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item__header {
  display: flex;
  gap: .5rem;
}

.title__bold {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item__description > p {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
  margin: 3.75rem 10px 0 10px;
}

.table__item {
  width: 270px;
  height: 270px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.table-item__img {
  height: 95px;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.table__item > p {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills__progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 45px;
  margin-top: 8rem;
}

.progress__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progress__header {
  display: flex;
  justify-content: space-between;
}

.progress__bar {
  position: relative;
  width: 100%;
  height: 14px;
  border-radius: 4px;
  background-color: var(--grey);
}

.progress__bar::before {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 4px;
  background-color: var(--yellow-accent);
}

.pb-websites::before {
  width: 100%;
}

.pb-apps::before {
  width: 95%;
}

.pb-data::before {
  width: 90%;
}

.pb-creativity::before {
  width: 75%;
}

.pb-design::before {
  width: 90%;
}

.pb-soft-skills::before {
  width: 95%;
}

.portfolio__title {
  margin-top: 8rem;
}

.portfolio-title::before {
  left: 30%;
}

.portfolio__examples {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  width: 100%;
  gap: 12px;
  margin-top: 3rem;
}

.example {
  overflow: hidden;
}

.example > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: .2s;
}

.example:hover > img {
  transform: scale(1.1)
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.main__pricelist {
  align-items: center;
  margin-top: 4.5rem;
}

.pricelist-title::before {
  left: 30%;
}

.pricelist__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pricelist__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15rem;
  row-gap: 1rem;
  margin-top: 3rem;
}

.pricelist__item {
  display: flex;
  gap: .5rem;
  width: 100%;
}

.pricelist__bullet > img {
  transform: scale(.3);
}

.pricelist__info {
  width: 100%;
}

.info__header {
  display: flex;
  justify-content: space-between;
}

.main__contact {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-left: 3.5rem;
}

.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__title > h1{
  margin-top: 1rem;
}

.contact__socials {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: .5rem;
}

.form-paragraph {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-socials-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.form__inputs input {
  border: solid 1px black;
}

.form__name {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.name-input__container {
  flex-grow: 1;
}

.form-input {
  position: relative;
  width: 100%;
  padding: .75rem;
}

.name-input__container {
  position: relative;
}

.input-label {
  position: absolute;
  top: -35%;
  left: 5%;
  padding: .5rem;
  font-size: 12px;
  background-color: white;
  z-index: 100;
  cursor: pointer;
}

.input__text {
  min-height: 100px;
  height: 100%;
  resize: none;
}

.form__submit {
  outline: none;
  border: none;
  width: fit-content;
  padding: 12px 26px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.error-message {
  color: red;
  font-size: 12px;
}

.error {
  border: 1px solid red;
}

@media (max-width:1919px) {
  .header__grid {
    width: 60%;
    height: 100%; 
  }
}